/*sitewide*/

.body {
    position: relative;
    overflow: scroll;
}

.title-arch {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 44px;
    letter-spacing: 10px;
    text-transform: uppercase;
    background-color: teal;
}

.title-special {
    color: lightgreen;
}

.container-fluid {
    max-width: 100%;
    position: relative;
    margin: 10px;
    padding: 10px;
    top: 5em;
    display: inline-block;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    overflow: hidden;
}

a {
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    font-family: Nunito, sans-serif;
}

.container-fluid a {
    background-color: #fff;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.container-fluid a:hover {
    background-color: teal;
}

.footer {
    font-family: Nunito, sans-serif;
    font-size: 12px;
    font-weight: 100;
    position: fixed;
    width: 100%;
    text-align: center;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    clear: both;
}

/*contact-page*/

.form {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    display: inline-block;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

div p {
    border-radius: 2em;
    color: #000;
    text-decoration: none;
    font-family: Nunito, sans-serif;
}

input {
    overflow: scroll;
    width: 100%;
    border: .2em solid #000;
}

textarea {
    height: 14em;
    overflow: scroll;
    width: 100%;
    border: .2em solid #000;
    padding-top: .6em;
}

button {
    border: .1em solid #000;
    height: 2em;
    font-size: 1em;
}

input:hover, textarea:hover {
    border-color: teal;
}

button:hover {
    background-color: teal;
    cursor: pointer;
}

.submit {
    text-align: center;
}

/*thank-you-page*/

.bedankt a{
    background-color: darkseagreen;
}

/*onoffswitch*/

.onoffswitch {
    position: relative;
    top: 1vh;
    margin-left: auto;
    margin-right: 0px;
    width: 15%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    font-family: Nunito, sans-serif;
    width: 50%;
    height: 20%;
    padding: 0;
    line-height: 200%;
    color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "⚫ AAN";
    background-color: #fff;
    color: #000;
    text-align: center;
}

.onoffswitch-inner:after {
    content: "⚪ UIT";
    background-color: #fff;
    color: #000;
    text-align: center;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #000;
}

#box1 {
  color: black;
  background-color: white;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

#box1.dark-mode {
  color: #fff;
  background-color: #000;
  width: 100px;
  height: 100px;
}